.searchSort {
    display: flex;
    align-items: center;
    gap: 1.1rem;
}

.searchSort label {
    font-size: 1.2rem;
    margin-right: .5rem;
}

.search input,
.complete select,
.sort select {
    font-size: 1.1rem;
    padding: .35rem;
    border-radius: 5px;
    border: 1px solid grey;
}
.clearBtn{
    margin-top: auto;
}
.clearBtn button{
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 5px;
    color: #fff;
    background-color: #FF7373;
    border: 1px solid rgb(232, 151, 151);
    padding: .35rem .65rem;
}
.clearBtn button:hover{
    background-color: rgb(236, 70, 70);
}
